* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #fdb856;
    background: linear-gradient(255deg, rgba(253, 184, 86, 1) 0, rgba(255, 248, 114, 1) 23%, rgba(65, 221, 253, 1) 100%);
    font-family: 'Open Sans', sans-serif;
    counter-reset: Serial;
}

.profile img.image-lg {
    z-index: 0;
    width: 100%;
    height: 40vh;
    margin-bottom: 10px;
}

p {
    text-align: left;
}

.image-profile {
    margin: -90px 10px 0px 30px;
    z-index: 9;
    height: 40vh;
    width: 20%;
    border-radius: 50%;
    margin-right: 3%;
}

.edit-btn {
    display: inline-block;
    padding: 1rem;
    border-radius: 10rem;
    color: #fff;
    font-size: 1.25rem;
    letter-spacing: .15rem;
    transition: all 1s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-weight: bold;
}

.edit-btn:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 10rem;
    z-index: -2;
}

.edit-btn:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #fff;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}

.edit-btn:hover {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #fff;
}

a:active {
    text-decoration: none;
}

.edit-btn:hover:before {
    width: 100%;
}

.user-profile {
    background: rgba(255, 255, 255, 1);
    margin: 10% auto;
    padding: 20px 30px;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    border-bottom: 5px solid #ccc;
    width: 70%;
}

.user-profile:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    background: #c4e17f;
    border-radius: 5px 5px 0 0;
    background: rgba(196, 225, 127, 1);
    background: linear-gradient(to right, rgba(196, 225, 127, 1) 0%, rgba(196, 225, 127, 1) 20%, rgba(247, 253, 202, 1) 20%, rgba(247, 253, 202, 1) 40%, rgba(254, 207, 113, 1) 40%, rgba(254, 207, 113, 1) 60%, rgba(240, 119, 108, 1) 60%, rgba(240, 119, 108, 1) 80%, rgba(219, 157, 190, 1) 80%, rgba(219, 157, 190, 1) 100%);
}

.section-heading {
    margin: 18px 0;
    padding-bottom: 10px;
    width: 200px;
    color: #1e439b;
    font-size: 3rem;
    border-bottom: 3px solid #ff5501;
    font-weight: 600;
    margin-bottom: 30px;
}

.details-input {
    height: auto;
    padding: 7px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #bebed2;
    transition: all .3s;
    font-size: 1.5rem;
}

.details-input:disabled {
    cursor: pointer;
}

.user-profile p:before {
    content: attr(type);
    display: block;
    margin: 10px 0 0;
    font-size: 13px;
    color: #5a5a5a;
    float: left;
    width: 40%;
    transition: all .3s;
}

.relative {
    position: relative;
}

.input-icon:before {
    color: #444;
    padding: 10px;
    position: absolute;
    left: -3px;
    text-align: center;
}

.input-icon {
    padding: 0;
    margin: 0;
}

.input-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    text-align: center;
    border-radius: 0 4px 4px 0;
    z-index: 99;
    border-left: 24px solid transparent;
    border-right: 34px solid #ccc;
    border-bottom: 38px solid #ccc;
    transition: all 0.15s ease-in-out;
}

.productHeading {
    display: inline;
}

.purchase-history-image {
    width: 100%;
    height: 15vh;
}

.purchase-history-row {
    cursor: pointer;
}

.table-caption {
    position: relative;
    color: inherit;
    text-decoration: none;
    line-height: 24px;
}

.table-caption:before, .table-caption:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
}

.table-caption:before {
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #e60023;
    transform: scaleX(0);
}

.table-caption:hover:before {
    transform: scaleX(1);
}

.payment-history-row td:first-child:before {
    counter-increment: Serial;
    content: counter(Serial);
}

.payment-history-row td:first-child {
    text-align: center;
}

/* --- Media Queries --- */

@media only screen and (max-width: 600px) {
    .image-profile {
        margin: -90px 10px 0px 10px;
        height: 30vh;
        width: 50%;
    }
    .profile-text {
        width: 45%;
        margin-right: 1%;
        margin-left: auto;
    }
    .details-input {
        padding-right: 20%;
    }
    .section-heading {
        max-width: 200px;
        font-size: 2rem;
    }
    .user-profile {
        width: 100%;
        padding: 0;
    }
    .user-details, .heading-div {
        padding: 20px 30px;
    }
}